body{
    background-image: url("../assets/taskmaster_at_typewriter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
	margin:1rem;
	padding:1rem;
	float:left;
	width:100%;
	border:1rem solid #140406;
	border-width:2rem 2rem;
}

.navbar li {
	display:inline; /* turns my list horizontal */
	padding:1rem;
	margin:1rem;
}

.navbar a {
	color:#000;
	background:#780712;
	padding:1rem 1rem 1rem 1rem;
	text-decoration:none;
	width:auto;
}

.scores{
    padding:1rem;
    margin:1rem;
}

.scores player_scores{
    border:1px solid orange;
}

.scores scores_controls{
    border:1px solid green;
}