@font-face { font-family: Typewriter; src: url("../assets/fonts/veteran_typewriter.ttf");}

.header p{
    font-size: 3.5rem;
}

body{
    background-image: url("../assets/taskmaster_at_typewriter.jpg");
    background-size: cover;
    display: block;
    font-family: Typewriter;
}

.navbar{
	display: block;
	margin:0.1rem;
	padding:0.5rem;
	border:1rem solid #140406;
	border-width:0.5rem 0.5rem;
}

.navbar li {
	display:inline-block; /* turns my list horizontal */
	padding:0.1rem;
	margin:0.9rem;
}

.navbar a {
	color:#000;
	background:#780712;
	padding:1.2rem;
	text-decoration:none;
	width:auto;
	font-size: 2rem;
}

h1{
	font-size: 3rem;
	color: #430606;
}

/* Scores */

#scores{
	display: block-flex;
    padding:0.5rem;
    margin:0.5rem;
}

#player_scores{
    display: block;
}

.player_score{
	display: inline-block;
	margin-block:0.5rem;
	padding: 1rem;
	text-align: center;
}

.score_adjustment_buttons{
	display: block;
	height: 4.6rem;
}

.negative_button, .positive_button{
	font-size: 3rem;
	width: 4.5rem;
	height: 4.5rem;
	background-color: #780712;
	justify-content: center;
}

.score_display{
	display: inline-block;
	height: 4rem;

}

.current_score, .score_delta{
	display: inline-block;
	font-size: 3rem;
	width: 4rem;
	height: 4rem;
}

.current_score {
	background-color: aliceblue;
}

.score_delta {
	background-color: cadetblue;
}

.scores_controls{
	display: block;
	clear:left;
	margin-top: 4rem;
}

#commit_scores, #reset {
	display: inline-block;
}

#commit_scores button, #reset button{
	font-size: 3.5rem;
	font-family: Typewriter;
	background-color:#780712;
}

/* Clips */
#clips{
    display: block-flex;
}

.clip {
    display: inline-block;
	margin: 2rem;
	width: 25rem;
	height: 40rem;
}

#clips .image_container {
    width: 25rem;
	height: 25rem;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border:
}

#clips .image_container img {
    max-height: 90%;
    max-width: 90%;
}

#clips .name {
	font-size: 2rem;
	color: #de0c0c;
}

#clips .description {
	font-size: 1.5rem;
	color: #e40b0b;
}

#clips .info {
	color:red;
}

/* Fulltasks */

#full_tasks {
    display: block-flex;
}

#full_tasks .task {
	display: inline-block;
	margin: 2rem;
}

#full_tasks .image_container {
	width: 25rem;
	height: 25rem;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border:
}

#full_tasks .task_image {
	position: relative;
	left: 3rem;
	max-height: 90%;
    max-width: 90%;
}

#full_tasks .image_container .play_button {
	position: relative;
	left: -10rem;
}

#full_tasks .image_container .pause_button {
	position: relative;
	left: -10rem
}

#full_tasks .task_name {
	font-size: 2rem;
	width: 25rem;
	color:#dc0303;
}

#full_tasks .contestants {
	font-size: 1.5rem;
	width: 25rem;
	color:#dc0303;
}

#full_tasks .description {
    font-size: 1.5rem;
	width: 25rem;
	color:#dc0303;
}

#full_tasks .all_notes {
	width: 25rem;

}

#full_tasks .all_notes li {
	font-size: 1.5rem;
	color:#e40000;
}



