<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/all_page.css')}}"/-->
    <title>TaskAppster</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/control.js') }}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/control.css')}}">
</head>
<body>
    <div class="header">
        <p>Taskmaster Live Controls</p>
    </div>
    <div id="connect_display">
        <button>Open a display</button>
    </div>
    <nav class="navbar">
        <ul class="navbar_menu">
            <li class="navbar_item">
                <span><a href="javascript:goto_scores();">Scores</a></span>
            </li>
            <li class="navbar_item">
                <span><a href="javascript:goto_fulltasks();">Full Tasks</a></span>
            </li>
            <li class="navbar_item">
                <span><a href="javascript:goto_clips();">Clips</a></span>
            </li>
        </ul>
    </nav>
    <div hidden id="scores">
        <h1>HELLO</h1>
        <span class="player_scores">
            <!-- div player -->
                <!-- image -->
                <!-- div score_adjust-->
                    <!-- plus --><!-- current / change --><!-- minus -->
            <!-- /div player -->
        </span>
        <div class="scores_controls">
            <div id="update_local_scores">
                <button>Update</button>
            </div>
            <div id="send_scores">
                <button>Send</button>
            </div>
        </div>
    </div>
</body>
</html>