<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/all_page.css')}}"/-->
    <title>TaskAppster</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/control.js') }}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/control.css')}}">
</head>
<body>
    <div class="header">
        <p>Taskmaster Live Controls</p>
    </div>
<!--    <div class="navigation">-->
<!--        <a href="/scores">Scores</a>-->
<!--        <a href="/clips">Clips</a>-->
<!--        <a href="/full_tasks">Full Tasks</a>-->
<!--    </div>-->
    <div id="connect_display">
        <button>Open a display</button>
    </div>
</body>
</html>